<!DOCTYPE html>
<html  ng-app="projetoEmprestimo">
<head>
    <meta   charset="UTF-8">
    <title> Locadora de Livros</title>
    <script src="angular.js"></script>
    <link   rel="stylesheet" type="text/css" href="css/telaConsultarHistorico.css"/>
    <link   rel="stylesheet" type="text/css" href="build/lib/bootstrap/bootstrap.css"/>
        <script src="js/config/serialGeneratorConfig.js"></script>
        <script src="js/controllers/projetoEmprestimoCtrl.js"></script>
        <script src="js/filters/ellipsisFilter.js"></script>
        <script src="js/filters/nameFilter.js"></script>
        <script src="js/services/amigosAPIService.js"></script>
        <script src="js/services/emprestimoAPIService.js"></script>
        <script src="js/services/http.js"></script>
        <script src="js/services/livroAPIService.js"></script>
        <script src="js/services/SerialGeneratorService.js"></script>
        <script src="js/services/servidor.js"></script>
        <script src="js/value/configValue.js"></script>
        <script src="js/app.js"></script>
        <script src="js/funcoes.js"></script>
        <script src="lib/angular/angular.js"></script>
        <script src="lib/angular/angular-messages.js"></script>
        <script src="lib/angular/angular-locale_pt-br.js"></script>

        <script src="view/angular-locale_fr-fr.js"></script>
</head>

<body ng-controller="projetoEmprestimoCrtl as vm">
<div class = "jumbotron">
    <h3>{{app}}</h3>
    <h4>Digite para Consultar</h4>
    <input class="form-control" type="text" ng-model="vm.criterioDeBusca" placeholder="O que você está buscando?"/>
    <table ng-show="vm.livros.length > 0" class="table table-striped">
        <tr>

            <th></th>
            <th><a href="" ng-click="vm.ordenarPor('nome')">Título</a></th>
            <th>Autores</th>
            <th>Editores</th>
            <th>Ano de Publicação</th>
            <th>Edição do Livro</th>
            <th>Amigo</th>
            <th>Data</th>
            <th>Opinião Sobre o Livro</th>
        </tr>

            <tr ng-class="{'selecionar negrito': livro.selecionado}" ng-repeat="livro in vm.livro"></tr>
            <td><input type="checkbox" ng-model="livro.selecionado"/></td>
            <td>{{livro.titulo}}</td>
            <td>{{livro.autores}}</td>
            <td>{{amigo.Editores}}</td>
            <td>{{livro.anoDePublicacao}}</td>
            <td>{{livro.edicaoDoLivro}}</td>
            <td>{{livro.amigo}}</td>
            <td>{{livro.data}}</td>
            <td>{{livro.opinao}}</td>

    </table>

    <div class="teste">

    <button class="btn btn-danger"  ng-click="vm.apagarLivros(vm.livros)" ng-if="vm.isLivroSelecionado">Apagar do Historico</button>

    </div>
    <footer id ="rodape">

        <p>Copyright&copy;2020 - by Alex Buttielie <br>
        <a href= "https://www.facebook.com/alex.buttielle" target="_blank"> Facebook </a> |
        <a href="https://twitter.com/Alekqss" target="_blank" > Twitter </a></p>
    </footer>
</div>

</body>
</html>